
  <input ng-model="search">

  <select ng-model="orderProp">
    <option value="category">Type</option>
    <option value="name">Name</option>
    <option value="language">Language</option>
  </select>

  <table class="table">

  <thead>
    <tr>
      <th>Category</th>
      <th>Language</th>
      <th>Package</th>
      <th>Tagline</th>
    </tr>
  </thead>
  <tbody>

    <tr ng-repeat="package in packages | filter:search | orderBy:orderProp">
      <td>{{package.category.name}}</td>
      <td>{{package.language.name}}</td>
      <td><a href="#/packages/{{package.id}}">{{package.name}}</a><a href="{{package.homepage}}"><i class="fa fa-arrow-circle-o-right pull-right"></i></a></td>
      <td>{{package.tagline}}</td>
    </tr>
  </tbody>
  </table>


  <button class="btn btn-info"><i class="fa fa-plus"></i> Add New Package</button>
