

<div class="row">
  <div class="col-lg-3 col-md-3">Name</div>
  <div class="col-lg-9 col-md-9">{{package.name}}</div>
</div>
<div class="row">
  <div class="col-lg-3 col-md-3">Tagline</div>
  <div class="col-lg-9 col-md-9">{{package.tagline}}</div>
</div>
<div class="row">
  <div class="col-lg-3 col-md-3">Homepage</div>
  <div class="col-lg-9 col-md-9">{{package.tagline}}</div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12">
<h3>Defining the problem</h3>
    {{package.problem}}
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-md-12">
    <h3>My opinion</h3>
    {{package.opinion}}
  </div>
</div>
